@import 'mixins';

html {
  font-size: @htmlFontSize;
  font-family: "Arial";
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  h1{
    font-size: @sizeH1;
  }
  p{
    font-size: @size15;
  }
  width: 100%;
  height: 80%;
}

#capture {
  position: relative;

}

.capture {
  &__image {
    width: 90%;
    @media @min768 {
      width: 40%;
      max-height: 80%;
    }
    @media @min1024 {
      width: 30%;

    }
  }
}

.page {
  &__wrapper{
    margin: 15px;
  }
}

.btn {
  cursor: pointer;
  outline: none;

  &__remove {
    transition: @transitionEasy;
    width: 80px;
    height: 30px;
    background: @buttonBaseColor;
    border: none;
    color: white;
    &:hover {
      box-shadow: inset 0px 0px 5px @buttonHoverBaseColor;
    }
  }
}

.nav {
  position: relative;
  z-index: 10;
  margin: 10px 0;
}
